<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/css")
    @foreach (var i in ViewBag.Css ?? new string[] { })
    {
        @Styles.Render(i);
    }
</head>
<body>
    @RenderBody()
    @*@Scripts.Render("~/bundles/scripts")*@
    @foreach (var i in ViewBag.Js ?? new string[] { })
    {
        @Scripts.Render(i);
    }
</body>
</html>